<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Cardan.Data" version="1.0.0" targetFramework="net45" />
  <package id="Cardan.Math" version="1.0.5.4" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="OpenXmlPowerTools" version="3.0.0" targetFramework="net45" />
</packages>